@charset "utf-8";

html {
font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}

$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;

/**************************************/

#cover_area{
  text-align: center;
  padding:80px 0;
  //retina_bg
    background-image: url("../images/top/cover.jpg");
    background-size: cover;
  @media screen and (-webkit-min-device-pixel-ratio:2),
                    (min-resolution: 2dppx){
    background-image: url("../images/top/cover@2x.jpg");
  }
  @media (min-width: 550px) {
    text-align: left;
    height:420px;
    padding:0;
    img{
      margin-top: 180px;
      margin-left: 70px;
    }
  }
}

#service_area{
  padding-top:20px;
  .service_sp {
      width: 100%;
  }
  @media (min-width: 550px) {
    padding-top: 30px;
  }
  .columns{
    color: #626262;
    .service_title{
      @include fontsize(18);
      font-weight: bold;
      margin-top: 8px;
    }
    p{
      @include fontsize(15);
      margin-top: 10px;
    }
    @media (min-width: 550px) {
      .service_title{
        @include fontsize(16);
      }
      p{
        @include fontsize(13);
      }
    }
  }
}
#news_area{
  background-color:$gray_blue;
  @media (min-width: 550px) {
    .container{
      padding:0px 10% 50px 10%;
    }
  }
  .news_title{
    text-align: center;
    @include fontsize(26);
    color: $blue1;
    padding: 15px 0 10px 0;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
  .news_lists{
    li{
      list-style: none;
      @include fontsize(15);
      span{
        color: $blue1;
        font-weight: bold;
        display: block;
        margin-bottom: 3px;
      }
    }
  }

  @media (min-width: 550px) {
    .news_title{
      text-align: center;
      @include fontsize(22);
      color: $blue1;
      padding: 50px 0 41px 0;
      letter-spacing: 0.2rem;
    }
    .news_lists{
      li{
        list-style: none;
        @include fontsize(14);
        margin-bottom: 20px;
        span{
          color: $blue1;
          font-weight: bold;
          display: inline;
          margin-bottom: 0px;
        }
      }
    }
  }
}
