html {
  font-size: 62.5%; }

/**************************************/
#sub_cover {
  background-image: url(../images/news/sub_cover@2x.jpg);
  padding: 40px 0;
  background-size: cover; }
  #sub_cover .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  #sub_cover h2 {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.2rem;
    line-height: 1.25; }

@media (min-width: 550px) {
  #sub_cover {
    background-image: url(../images/news/sub_cover.jpg);
    padding: 80px 0;
    background-size: cover; }
    #sub_cover h2 {
      text-align: center;
      color: white;
      font-size: 3.2rem;
      font-weight: bold;
      margin: 0;
      letter-spacing: 0.2rem; } }
#contents {
  padding-top: 20px; }
  #contents #main .news-title {
    color: #42b9d0;
    border-bottom: 3px solid;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 20px; }
  #contents #main .company_title {
    color: #42b9d0;
    border-bottom: 3px solid;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 15px;
    margin: 0; }
  #contents #main table th {
    color: #626262;
    padding: 20px 0; }
  #contents #main table td {
    color: #626262;
    padding: 20px 0; }
    @media (min-width: 550px) {
      #contents #main table td {
        padding-left: 0; } }
  #contents #main .news_li {
    font-size: 1.5rem;
    list-style: none; }
    #contents #main .news_li span {
      color: #42b9d0;
      display: block;
      font-weight: bold;
      margin-bottom: 3px; }
  #contents #main .company_info_right, #contents #main .company_info_left {
    font-size: 1.4rem; }
    #contents #main .company_info_right td, #contents #main .company_info_left td {
      padding-left: 10px; }
    #contents #main .company_info_right p, #contents #main .company_info_left p {
      margin: 0; }
  #contents #main .company_info_left {
    padding-right: 20px; }
  @media (min-width: 550px) {
    #contents #main .company_info_left {
      padding-right: 20px; } }
  #contents .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

@media (min-width: 550px) {
  #contents {
    padding-top: 35px;
    padding-bottom: 70px; }
    #contents .container {
      width: 90%;
      padding: 0; }
    #contents #main {
      padding-left: 0;
      padding-right: 20px; }
      #contents #main .news-title {
        font-size: 2rem;
        padding-bottom: 20px;
        margin-bottom: 20px; }
      #contents #main .company_title {
        font-size: 2rem;
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin: 0; }
      #contents #main .news_li li {
        font-size: 15px;
        font-size: 1.5rem;
        list-style: none;
        padding-bottom: 5px; }
        #contents #main .news_li li span {
          display: inline-block;
          margin-bottom: 0;
          padding-right: 10px;
          color: #42b9d0;
          font-weight: bold; } }
#contents #sidebar {
  padding-bottom: 20px; }
  #contents #sidebar .pc_sidemenu h3, #contents #sidebar .pc_sidemenu ul {
    display: none; }
  #contents #sidebar .pc_sidemenu .fb-page {
    width: 100%; }

@media (min-width: 550px) {
  #contents .container {
    width: 80%; }
    #contents .container #sidebar .pc_sidemenu ul {
      display: block; }
    #contents .container #sidebar .pc_sidemenu h3 {
      display: block;
      color: #42b9d0;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      font-weight: bold;
      background-color: #f3f9fb;
      padding: 15px;
      margin-bottom: 0px; }
    #contents .container #sidebar .pc_sidemenu li {
      list-style: none;
      display: block;
      border-bottom: 1px solid #e5e5e5;
      background-repeat: no-repeat;
      background-position: 8px center;
      margin-bottom: 0px;
      padding: 10px 10px 10px 20px;
      background-image: url("../images/news/side_arrow.png");
      background-size: 4px 8px; }
      #contents .container #sidebar .pc_sidemenu li a {
        text-decoration: none; }
    #contents .container #sidebar .pc_sidemenu .fb-page {
      width: 100%; } }
h1 {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=news.css.map */
